<title>{{ page.Title }} - {{ site.Title }}</title>
{% if site.Description != nil -%}
<meta name="description" content="{{ site.Description }}">
{% elsif site.Params.Description != nil -%}
<meta name="description" content="{{ site.Params.Description }}">
{%- endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="{{ site.BaseURL }}{{ page.Permalink }}">
<link rel="alternate" type="application/rss+xml" href="/blog/index.xml" title="SuCoS Blog">

<!-- Style and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css" integrity="sha384-XGjxtQfXaH2tnPFa9x+ruJTuLE3Aa6LhHSWRr1XeTyhezb4abCG4ccI5AkVDxqC+" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta name="msapplication-TileColor" content="#0d59ad">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="/site.webmanifest" type="application/manifest+json">
